*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    list-style: none;
     display: inline-block; 
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}

a{
    text-decoration: none;
    color:  #555;
} 
p{
    columns: #555;
}
.container{
    max-width: 1300px;
    margin:auto; 
    padding-left: 25px;
    padding-right: 25px;
}
.row{
     display: flex;
     align-items: center; 
     flex-wrap: wrap;
     justify-content: space-aro und ;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 0 50px;
}
.col-2 img{
    font-size: 50px;
    line-height: 60px;
    margin:  25px 0;
   mix-blend-mode: multiply;
}
.btn{
    display: inline-block;
    background: #ff523b;
    color: white;
    padding: 8px 30px;
    margin:30px 0 ;
    border-radius: 30px;
}

.header{
    background: radial-gradient(#fff,#ffd6d6);
}
.logo img{
    border-radius: 5px;
}
