*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    list-style: none;
     display: inline-block; 
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}

a{
    text-decoration: none;
    color:  #f2f5f2;
    font-family: 'Exo 2', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 1.3rem;
} 
p{
    columns: #555;
}
.container{
    max-width: 1300px;
    margin:auto; 
    padding-left: 25px;
    padding-right: 25px;
}
.row{
     display: flex;
     align-items: center; 
     flex-wrap: wrap;
     justify-content: space-around ;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 0 50px;
}
.col-2 img{
    font-size: 50px;
    line-height: 60px;
    margin:  25px 0;
    mix-blend-mode: multiply;
}
.btn{
    display: inline-block;
    background: #ff523b;
    color: white;
    padding: 8px 30px;
    margin:30px 0 ;
    border-radius: 30px;
}
.btn:hover{
    background-color: #564343;
}

/*.header{
    background: radial-gradient(#fff,#ffd6d6);
}
*/
.header{
    background-image: url("./assets/bgimage.jpeg");
    height: 100vh;
    background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: center center;
}
.logo img{
    border-radius: 5px;
}
.header .row{
    margin-top: 80px;
}
.categories{
    display: flex;
    flex-wrap: wrap;
}
.categories{
    margin: 70px 0;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
    
}
.col-3 img{
    width: 100% ;

}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px; 
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img{
    width: 100%;
    border-radius: 5px;
}
.title{
    font-family: sans-serif;
    margin: 100px auto;
    text-align: center;
    color: black;
    font-size: 40px;
    max-width: 600px;
    position: relative;
    line-height: 60px;
  }
  .title:before {
    content: "";
    display: block;
    width: 150px;
    height: 5px;
    background: #CD5C5C;
    left: 50%;
    position: absolute;
    border-radius: 5px;
    transform: translateX(-50%);
  }
  h4{
    color: #555;
    font-weight: normal;
    font-family: sans-serif;
  }
  .col-4 p{
    font-size: 14px;
  }
  .col-4:hover{
    transform: translateY(-5px);
  }
  li:hover{
    transform: perspective(100px) translate3d(3px, 3px, 3px);
  }
li{
    width: 50px;
    height:50px;
    transition: transform 0.3s ease-out,
                        background 0.3s ease-out;
}
.col-4l{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4l img{
    width: 100%;
    border-radius: 5px;
}
.col-4l:hover{
    transform: scale(1.1);
}
p{
    font-weight: normal;
    font-family: sans-serif;
  }
.offer .row .col-2 h1{
    font-size: 4.5rem;
  }
.offer .row .col-2 p{
    font-size: 1.5rem;
}
.offer{
    background:radial-gradient(#f8fafa,#8ae9be);
    margin-top: 10px;
    padding: 30px 0;
}
.offer .row .col-2 img{
    width: 85%;
}
#band{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.rating{
    color: #ff523b;
}
/*---------------testimonial--------------*/
.testimonial{
    padding-top: 100px;
}
.testimonial .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.7s;
}
.testimonial .col-3 img{
    width: 50px;
    height: 50px;
    margin-top: 20px;
    border-radius: 50%;
    object-fit:cover;
}
.testimonial .col-3:hover{
    transform:translateY(-10px);
}
.fa.fa-quote-left{
font-size: 34px;
color: #ff523b;
}
.col-3 p{
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}
.testimonial .col-3 h3{
    font-weight: 600;
    color: #555;
    font-size: 16px;
}
/* brands */
.brands{
    margin: 100px auto;
}
.col-5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}
.col-5 img:hover{
    filter: grayscale(0);
}
/* footer */
.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1,.footer-col-2,.footer-col-3,.footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex:1;
text-align: center;}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-3,.footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
.footer-col-3 ul,.footer-col-4 ul{
    list-style: none;
    text-align: center;
    margin-left: 90px;
}
.app-logo {
margin-top: 20px;}

.app-logo img{
    width:140px;
}
.footer hr
{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px,0;
}
.copyright{
    text-align: center;
}
.menu-icon{
    width: 28px;
    margin-left: 20px;    
    display: none;
}
.footer-col-3 li{
    width: auto;
    height: 50px;
    display: flex;

    
}
/* all product page */
.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
}
select{
    border: 1px solid #ff523b;
    padding: 5px;
}
select:focus{
    outline: none;
}
.page-btn{
    margin: 0 auto 80px;
}
.page-btn span{
    display:inline-block;
    border: 1px solid #ff523b;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.p-nav ul a{
    color: #000;
}
.page-btn span:hover{
    background:#ff523b;
    color: #fff;

}
/* -----------account-page--------- */
.account-page{
    padding: 50px 0;
    background: radial-gradient(#fff,#ffd6d6);
}
.form-container{
    background: #fff;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    margin: auto;
    padding: 20px 0;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    overflow: hidden;
}
.form-container span{
    font-weight: bold;
    padding:0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}
.form-btn{
    display:inline-block;
    
}
.form-container form{
    max-width: 300px;
    padding: 0, 20px;
    position: absolute;
    top: 130px;
    transition: transform 1s;
}
form input{
    width: 90%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
}
form .btn{
    width: 95%;
    align-items: center;
    border: none;
    cursor: pointer;
    margin: 10px 0;

}
form .btn:focus{
    outline: none;

}
#LoginForm{
    left: -300px;    
}
#RegForm{
    left: 0;
}
form a{
    font-size: 12px;
    color: #ccc;
}

#Indicator{
    width: 100px;
    border: none;
    background: #ff523b;
    height: 3px;
    margin-top: 8px;
    transform: translateX(100px);
    transition: transform 1s;
}
/* -------------cart item------------------------------- */
 .cart-page{
    margin: 80px auto;
 }
table{
    width: 100%;
    border-collapse: collapse;
}
.cart-info{
    display: flex;
    flex-wrap: wrap;

}
th{
    text-align: left;
    padding: 5px;
    color: #fff;
    background: #ff523b;
    font-weight: normal;
}
td{
    padding: 10px 5px;
}
td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}
td a{
    color: #ff523b;
    font-size: 12px;
}
td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}
.total-price{
    display: flex;
    justify-content: flex-end;         
}
.total-price table{
    border-top: 3px solid #ff523b;
    width: 100%;
    max-width: 350px;
}
td:last-child{
    text-align: right;

}
th:last-child{
    text-align: right;
}
/* media query for menu */
@media only screen and (max-width:800px){
    nav ul{
        position: absolute;
        top: 70px;
        background: #333;
        width:100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: #fff;

    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
    }

/* media query for less than 600 screen size */
@media only screen and (max-width:800px){
    .row{
        text-align: center;
    }
    .col-2,.col-3,.col-4{
        flex-basis: 100%;

    }
    .cart-info p{
        display: none;
    }
}

